aniso8601==9.0.1
Authlib==1.0.0rc1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.1
Flask==2.0.3
Flask-RESTful==0.3.9
frozendict==2.3.0
gunicorn==20.1.0
idna==3.3
iiif-prezi==0.3.0
inuits-jwt-auth==0.0.24
itsdangerous==2.1.0
Jinja2==3.0.3
job-helper==0.1.8
lxml==4.8.0
MarkupSafe==2.1.0
Pillow==9.0.1
pycparser==2.21
py-healthcheck==1.10.1
PyLD==2.0.3
pytz==2021.3
requests==2.27.1
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.3
opentelemetry-api==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-exporter-otlp==1.9.1
opentelemetry.exporter.jaeger==1.9.1
opentelemetry-instrumentation-flask==0.28b1
opentelemetry-instrumentation-requests==0.28b1

