aniso8601==8.1.0
Authlib==1.0.0b1
cachetools==4.2.1
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
Flask-RESTful==0.3.8
Flask==1.1.2
frozendict==2.1.1
gunicorn==20.1.0
idna==2.10
iiif-prezi==0.3.0
inuits-jwt-auth==0.0.21
itsdangerous==1.1.0
Jinja2==2.11.2
job_helper==0.1.8
lxml==4.6.4
MarkupSafe==2.0.1
Pillow==8.4.0
pycparser==2.20
PyLD==2.0.3
pytz==2020.5
requests==2.25.1
setuptools==57.0.0
six==1.15.0
urllib3==1.26.3
Werkzeug==1.0.1
